<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzxmh.employeeservice.dao.user.User_dept_roleMapper">
  <resultMap id="BaseResultMap" type="com.zzxmh.employeeservice.domain.user.User_dept_role">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="DEPT_ROLE_ID" jdbcType="INTEGER" property="deptRoleId" />
    <result column="ENTRY_TIME" jdbcType="TIMESTAMP" property="entryTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, DEPT_ROLE_ID, ENTRY_TIME
  </sql>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List"/>
    from user_dept_role
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from user_dept_role
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zzxmh.employeeservice.domain.user.User_dept_role">
    insert into user_dept_role (USER_ID, DEPT_ROLE_ID,
      ENTRY_TIME)
      values
      (#{userId,jdbcType=VARCHAR}, #{deptRoleId,jdbcType=INTEGER},
      #{entryTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zzxmh.employeeservice.domain.user.User_dept_role">
    update user_dept_role
    set USER_ID = #{userId,jdbcType=VARCHAR},
      DEPT_ROLE_ID = #{deptRoleId,jdbcType=INTEGER},
      ENTRY_TIME = #{entryTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updatebatchinfo" parameterType="java.util.Map">
    update user_dept_role
    set DEPT_ROLE_ID= #{newdeptRoleId,jdbcType=INTEGER}
    WHERE USER_ID=#{userId,jdbcType=VARCHAR} and DEPT_ROLE_ID = #{olddeptRoleId,jdbcType=INTEGER}
  </update>

  <select id="batcholddeptroleid" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT DEPT_ROLE_ID
    from user_dept_role
    WHERE USER_ID=#{userId,jdbcType=VARCHAR}
    GROUP BY ENTRY_TIME
    ORDER BY ENTRY_TIME ASC
    LIMIT 1
  </select>
  
</mapper>