<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzxmh.userservice.dao.dept.User_dept_roleMapper" >
  <resultMap id="BaseResultMap" type="com.zzxmh.userservice.domain.dept.User_dept_role" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="DEPT_ROLE_ID" property="deptRoleId" jdbcType="INTEGER" />
    <result column="ENTRY_TIME" property="entryTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, DEPT_ROLE_ID, ENTRY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_dept_role
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_dept_role
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzxmh.userservice.domain.dept.User_dept_role" >
    insert into user_dept_role (ID, USER_ID, DEPT_ROLE_ID, 
      ENTRY_TIME)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{deptRoleId,jdbcType=INTEGER}, 
      #{entryTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zzxmh.userservice.domain.dept.User_dept_role" >
    insert into user_dept_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="deptRoleId != null" >
        DEPT_ROLE_ID,
      </if>
      <if test="entryTime != null" >
        ENTRY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deptRoleId != null" >
        #{deptRoleId,jdbcType=INTEGER},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzxmh.userservice.domain.dept.User_dept_role" >
    update user_dept_role
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deptRoleId != null" >
        DEPT_ROLE_ID = #{deptRoleId,jdbcType=INTEGER},
      </if>
      <if test="entryTime != null" >
        ENTRY_TIME = #{entryTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzxmh.userservice.domain.dept.User_dept_role" >
    update user_dept_role
    set USER_ID = #{userId,jdbcType=VARCHAR},
      DEPT_ROLE_ID = #{deptRoleId,jdbcType=INTEGER},
      ENTRY_TIME = #{entryTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectUDRbyuserid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user_dept_role
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>