<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzxmh.employeeservice.dao.employee.DimissionMapper" >
  <resultMap id="BaseResultMap" type="com.zzxmh.employeeservice.domain.employee.Dimission" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="DIMISSION_TIME" property="dimissionTime" jdbcType="TIMESTAMP" />
    <result column="DEPT_ROLE_ID" property="deptRoleId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, DIMISSION_TIME, DEPT_ROLE_ID
  </sql>
  <select id="getMaxUserID" parameterType="java.lang.String" resultType="java.lang.String">
    select USER_ID
    from dimission
    where USER_ID like #{prefix,jdbcType=VARCHAR}"%"
    order by USER_ID desc
    limit 1
  </select>
  <select id="getMinUserID" parameterType="java.lang.String" resultType="java.lang.String">
    select USER_ID
    from dimission
    where USER_ID like #{prefix,jdbcType=VARCHAR}"%"
    order by USER_ID asc
    limit 1
  </select>
  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from dimission
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="java.util.List" >
    insert into dimission (USER_ID, DIMISSION_TIME,
      DEPT_ROLE_ID)
    values
    <foreach collection="list" item="e" index="index" separator=",">
       ( #{e.userId,jdbcType=VARCHAR}, #{e.dimissionTime,jdbcType=TIMESTAMP},
      #{e.deptRoleId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zzxmh.employeeservice.domain.employee.Dimission" >
    update dimission
    set USER_ID = #{userId,jdbcType=VARCHAR},
      DIMISSION_TIME = #{dimissionTime,jdbcType=TIMESTAMP},
      DEPT_ROLE_ID = #{deptRoleId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>